# must be placed in /etc/systemd/system/
[Unit]
Description = Execute script.sh

[Service]
ExecStart=/home/zombie/start.sh
ExecStop = /home/zombie/stop.sh
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
